@model Quiz_Application.Services.Entities.Candidate
@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">My Profile</h4>
                    <p class="w3-center"><img src="https://www.w3schools.com/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <p><i class="fa fa-address-card fa-fw w3-margin-right w3-text-theme"></i>@Model.Name     (@Model.Candidate_ID)</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i>@Model.Phone</p>
                    <p><i class="fa fa-paper-plane fa-fw w3-margin-right w3-text-theme"></i> @Model.Email</p>
                </div>
            </div>
            <br>

            <!-- Interests -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <p>Change Profile Photo</p>
                    <p>
                        <div class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">Choose file</div>
                                <div class="file-select-name" id="noFile">No file chosen...</div>
                                <input type="file" name="chooseFile" id="chooseFile">
                            </div>
                        </div>
                    </p>
                    <p><button type="button" class="w3-button w3-theme"><i class="fa fa-upload"></i>  Save</button></p>
                </div>
            </div>
            <br>

            <!-- Alert Box -->
            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
                    <i class="fa fa-remove"></i>
                </span>
                <p><strong>Hey!</strong></p>
                <p>People are looking at your profile. Find out who.</p>
            </div>

            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">
            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">You will get 1 point for each correct answer. At the end of the Quiz, your total score will be displayed.</h6>
                            <p>
                                <select class="form-control" id="ddlExam">
                                    <option selected>Select Exam</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </p>
                            <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Start</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-12 col-lg-12">
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                <h4>MCQ Quiz</h4><span>(5 of 20)</span>
                            </div>
                        </div>
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row align-items-center question-title">
                                <h3 class="text-danger">Q.</h3>
                                <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio">
                                    <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio">
                                    <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio">
                                    <input type="radio" name="Indonesia" value="Indonesia"> <span>Indonesia</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio">
                                    <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="w3-button w3-theme" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button class="w3-button w3-theme" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
                    </div>
                </div>
            </div>

            <!-- End Middle Column -->
        </div>


        <!-- Right Column -->
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>Upcoming Events:</p>
                    <img src="https://www.w3schools.com/w3images/forest.jpg" alt="Forest" style="width:100%;">
                    <p><strong>Holiday</strong></p>
                    <p>Friday 15:00</p>
                    <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
                </div>
            </div>
            <br>

            <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
                <p>ADS</p>
            </div>
            <br>
            <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
                <p><i class="fa fa-bug w3-xxlarge"></i></p>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>