@{
    ViewData["Title"] = "Result";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
   
        <div class="w3-card-4 w3-round">
            <header class="w3-container w3-light-grey">
                <h3>Quiz Result</h3>
            </header>

            <div class="w3-container">
                <p> <i class="fa fa-address-card fa-fw w3-margin-right w3-text-theme"></i>   Candidate ID :</p>
                <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> Candidate Name :</p>
                <p>
                    <table class="w3-table-all w3-small">
                        <tr class="w3-blue">
                            <th>Quiz Name</th>
                            <th>Score</th>
                            <th>Duration</th>
                            <th>Details</th>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                            <td>94</td>
                        </tr>
                        <tr>
                            <td>Adam</td>
                            <td>Johnson</td>
                            <td>67</td>
                            <td>94</td>
                        </tr>
                    </table>
                </p>
                <hr>
                <img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle">
                <p>President/CEO at Mighty Schools...</p>
            </div>
            <button class="w3-button w3-block w3-dark-grey">+ Connect</button>
        </div>
        <br />
    </div>
